= form_tag login_path do

  = label :usuario, :nick, 'Nick Usuario'
  = text_field :usuario, 'nick'

  = label :usuario, :password, 'Password'
  = password_field :usuario,'password'


  = submit_tag 'Login'

=link_to 'Registrarse', registro_path
