#login
  = form_tag login_path do

    = label :usuario, :nick, 'Nick Usuario'
    = text_field :usuario, 'nick'

    = label :usuario, :password, 'Password'
    = password_field :usuario,'password'


    = submit_tag 'Login'
-3.times do
  %br
#registro
  =link_to 'Registrarse', registro_path

- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #warning.message= flash[:warning]
#logo
  =image_tag("LOGO.png")
