= form_tag registro_crear_path do

  = label :usuario, :nick, 'Nick Usuario'
  = text_field :usuario, 'nick'

  = label :usuario, :password, 'Password'
  = text_field :usuario,'password'


  = submit_tag 'Registrarse'

=form_tag homepage_path do
  =submit_tag 'Cancelar'
