.cabecera
  .icono 
    =image_tag("icono.png")
  %p ISIBox
  #usuario
    %p Bienvenido #{@usuario.nick}

- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #warning.message= flash[:warning]

%table#files
  %thead
    %tr
      %th
      %th Index
      %th Nombre Fichero
      %th Tipo
  %tbody
    - @files.each_with_index do |file,index|
      %tr
        - index= index + 1
        %td 
          - @icono="#{file.content_type}"+".png"
          = image_tag("#{@icono}")
        %td= index
        %td= file.name 
        %td= file.content_type
        %td= link_to "Abrir Online", isibox_path(file.id), :method => :get
        %td= link_to "Descargar Fichero", "download/#{file.id}"
        %td= button_to 'Delete', isibox_path(file.id), :method => :delete, :confirm => '¿Estás seguro de eliminar el fichero?'

=link_to 'Subir Fichero', new_isibox_path


=link_to 'Cerrar Sesion', logout_path
%br
=link_to 'Eliminar Cuenta', "delete/user/#{@usuario.id}", :confirm => '¿Seguro que quieres eliminar la cuenta?'
