= form_tag isibox_index_path, :multipart => true do

  = label :fichero, :name, 'Nombre Fichero'
  = text_field :fichero, 'name'

  = label :fichero, :content_type, 'Contenido'
  = select :fichero, :content_type, ['Audio', 'Imagen', 'Texto','Video']
  
  = label :fichero, :file , 'Archivo'
  = file_field :fichero, 'file'

  = submit_tag "Adjuntar Fichero"



