= form_tag isibox_index_path, :multipart => true do

  = label :fichero, :filename, 'Nombre Fichero'
  = text_field :fichero, 'filename'

  = label :fichero, :content_type, 'Contenido'
  = select :fichero, :content_type, ['Audio', 'Imagen', 'Texto','Video']

  = label :fichero, :path, 'Path, poner algo'
  = text_field :fichero, 'path'
  
  = label :fichero, :file , 'Archivo'
  = file_field :fichero, 'file'

  = submit_tag "Adjuntar Fichero"



